header {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
}

header>div:first-child {
    width: 15%;
    height: 100%;
}

header>div:first-child a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div:first-child img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header>div:nth-child(2) {
    width: 60%;
    height: 100%;
}

header>div:nth-child(2) form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div:nth-child(2) form input {
    height: 50%;
    width: 60%;
    outline: none;
    padding-left: 3%;
    border: 1px solid gray;
    border-right: 0px solid black;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

header div:nth-child(2) form button {
    cursor: pointer;
    height: 52%;
    width: 7%;
    border: none;
    color: #EBF7A1;
    font-size: 2.5vh;
    background-color: #5d8650;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

header>div:last-child {
    width: 20%;
    height: 100%;
    display: flex;
}

header div:last-child>li {
    list-style: none;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
    transition: .25s ease;
}

header div:last-child li div {
    height: 100%;
    width: 100%;
    font-size: 2.2vh;
    padding: 0 2px;
}

header div:last-child li>div:first-child {
    width: 20%;
    font-size: 5vh;
}

header div:last-child li div:last-child {
    width: 80%;
}

header div:last-child li div:last-child {
    display: flex;
    flex-direction: column;
}

header div:last-child li div:last-child div {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: start;
}

header div:last-child li div:first-child {
    display: flex;
    justify-content: end;
    align-items: center;
}

header div:last-child li div:last-child div:first-child {
    display: flex;
    align-items: end;
}

#taikhoan_xinchao span,
.giohang span,
.thongbao span {
    font-weight: bold;
}

.thongbao {
    height: 100% !important;
    display: flex;
    justify-content: center !important;
}

header div:last-child li:hover {
    color: rgb(85, 84, 84);
    cursor: pointer;
}

header>div:last-child>li:first-child ul {
    opacity: 0;
    z-index: -10;
    position: absolute;
    background-color: whitesmoke;
    width: 35vh;
    display: flex;
    flex-direction: column;
    top: 15%;
    right: 14.5%;
    padding: 2vh;
    list-style: none;
    box-shadow: -1px 1px 5px black;
    transition: 0.25s ease;
}

header>div:last-child>li:first-child ul li {
    width: 100%;
    height: 6.5vh;
    background-color: #5d8650;
    border-radius: 7px;
    transition: .25s ease;
}

header>div:last-child>li:first-child ul li:hover {
    background-color: rgb(114, 160, 100);
    color: rgb(170, 170, 170);
}

header>div:last-child>li:first-child ul li:not(:last-child) {
    margin-bottom: 2%;
}

header>div:last-child>li:first-child ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    color: #EBF7A1;
}

header div:last-child li:first-child:hover ul {
    opacity: 1;
    z-index: 10;
    top: 12%;
}

header div:last-child li:first-child ul li:hover a {
    color: whitesmoke;
}

nav {
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    background-color: #5d8650;
}

nav>li {
    list-style: none;
    margin: 0 .5%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 .5%;
}

nav>li a {
    text-decoration: none;
    font-weight: bold;
    color: #EBF7A1;
    transition: .25s ease;
}

nav>li:hover>a {
    color: #fddb40;
}